// converting px-to-rem
$body-fs: 16px;
$body-lh: 24px;
//font-size
$fs10: 10px !important;
$fs12: 12px !important;
$fs14: 14px !important;
$fs16: 16px !important;
$fs18: 18px !important;
$fs22: 22px !important;
$fs30: 30px !important;
$fs38: 38px !important;
$fs50: 50px !important;
$fs80: 80px !important;

//line-height
$lh14: 14px !important;
$lh16: 16px !important;
$lh17: 17px !important;
$lh20: 20px !important;
$lh21: 21px !important;
$lh24: 24px !important;
$lh26: 26px !important;
$lh27: 27px !important;
$lh30: 30px !important;
$lh31: 31px !important;
$lh32: 32px !important;
$lh40: 40px !important;
$lh50: 50px !important;
$lh62: 62px !important;
$lh100: 100px !important;

//colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$blue-gray-1:  rgb(91, 101, 109);
$blue-gray-2:  rgb(55, 60, 64);
$gray-1:  rgb(73, 73, 73);
$gray-2:  rgb(105, 105, 108);
$gray-3:  rgb(194, 195, 198);
$gray-4:  rgb(236, 236, 238);
$gray-5:  rgb(243, 243, 243);
$red:  rgb(233,38,45);
$green: rgb(115, 190, 67);
$beige: rgb(255, 239, 224);
$corn: rgb(42, 55, 125);
$Main: rgb(0, 177, 240);
$agua: rgb(175, 224, 244);
$pale: rgb(224, 241, 248);


$speech-tail-color: rgba(0, 0, 0, 0.2);
$speech-border-color: rgba(0, 0, 0, 0.07);


// font-family
$Regular: "Golos-Text_Regular", sans-serif;
$Medium: "Golos-Text_Medium", sans-serif;
$Bold: "Golos-Text_Bold", sans-serif;
$Black: "Golos-Text_Black", sans-serif;
$DemiBold: "Golos-Text_DemiBold", sans-serif;
$VF: "Golos-Text_VF", sans-serif;
